:root {
    --primary-text-color: rgba(117, 117, 117, 1);
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --primary-black-color: #000000;
    --background-footer-color: #2F303A;
    --paragraf-color: #757575;
    --border-bottom: #ECECEC;
    --box-color: rgba(0, 0, 0, 0.2);
    --border-primary-color: #F5F4FA;
    --border-color: #EEEEEE;

}